 :root {
    --background-color: #0A140D;
    --card-color: #233324;
    --accent-color: #D4AF37;
    --text-color: #F4F6F4;
    --button-color: #1E4620;
    --button-hover-color: #2D6630;
 }

 body{ 
    margin: 0 ;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
 }

 .forest-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: var(--text-color);
    margin: 0.5rem 0;
 }

 #moon-icon {
    font-size: 2rem;
    color: var(--accent-color);
    margin: 1rem 0;
 }

 .forest-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
 }

 #tree-icon {
    font-size: 20rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px var(--accent-color);
    box-shadow: 3px 3px 10px var(--text-color);
 }

    .forest-par {
        font-family: 'Cinzel', serif;
        font-size: 1.5rem;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2rem;
        font-style: italic;
    }

    button {
        background-color: var(--button-color);
        color: var(--text-color);
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-bottom: 2rem;
        border-radius: 2px;
        font-weight: bold;
    }

    button:hover {
        background-color: var(--button-hover-color);
        transform: scale(1.05);
    }

    #whisper-output {
        font-family: 'Cinzel', serif;
        font-size: 1.25rem;
        color: var(--text-color);
        text-align: center;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        background-color: var(--card-color);
    }

    .forest-stars {
        display: flex;
        gap: 10rem;
        color: var(--accent-color);
        transition: transform, animation 0.3s ease;
        text-shadow: 3px 3px 10px var(--accent-color);
    }

    .star-icon1 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(10deg);
        margin-bottom: 50px;
    }

    .star-icon2 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(-10deg);
        margin-top: 50px;
    }

    .star-icon3 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(10deg);
        margin-bottom: 50px;
    }

    .star-icon4 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(10deg);
        margin-bottom: 50px;
    }

    .star-icon5 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(-10deg);
        margin-top: 50px;
    }

    .star-icon6 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(10deg);
        margin-bottom: 50px;
    }
    .star-icon7 {
        font-size: 1.5rem;
        animation: twinkle 2s infinite;
        transform: rotate(-10deg);
        margin-top: 50px;
    }

    @keyframes twinkle {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }

    @media screen and (max-width: 768px) {
        #tree-icon {
            font-size: 15rem;
        }

        .forest-par {
            font-size: 1.25rem;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
        }

        #whisper-output {
            font-size: 1rem;
        }  
        
        h1 {
            text-align: center;
            font-size: 2.5rem;
        }

        .forest-stars {
            gap: 3rem;
            margin: 2rem;
        }
        
    }

    @media screen  and (max-width: 480px) {
        #tree-icon {
            font-size: 10rem;
        }

        .forest-par {
            font-size: 1rem;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
        }

        #whisper-output {
            font-size: 0.9rem;
        }  
        
        h1{
            text-align: center;
            font-size: 2rem;
        }

        .forest-stars {
            gap: 1.5rem;
            margin: 2rem;
        }

        #whisper-output {
            margin:0 1rem;
        }
        
    }
